<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="livrariaConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\LIVRARIA.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0">
        <assemblies>
          <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, publicKeyToken=B77A5C561934E089" />
        </assemblies>
      </compilation>

      
      
      <pages theme="TemaLaranja">
        <namespaces>
          <add namespace="System.Data.Linq"/>
        </namespaces>
      </pages>
    </system.web>

</configuration>
